# Rust extension build output
/target/
# out-of-tree kernel module build artifacts
/driver/*.o
/driver/*.ko
/driver/*.mod
/driver/*.mod.c
/driver/*.mod.o
/driver/.*.cmd
/driver/modules.order
/driver/Module.symvers
/driver/.module-common.o
